@tailwind base;
@tailwind components;
@tailwind utilities;

/* open sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

.nav-bar-button {
  width: 124px;
  height: 35px;
  font-size: 13px;
}

.logoSize {
  width: 24px;
  height: 24px;
}
